html, body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

#webgl-tornado-container canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #121212;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none; /* Important! Allows scrolling/interactions through it */
  z-index: -1;
}

h1, h3 {
  color: #ffffff;
}

select, input, button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
  padding: 6px;
  margin: 4px;
  border-radius: 4px;
}

.option {
  margin-bottom: 10px;
}

.vote-results {
  list-style: none;
  padding-left: 0;
}

.vote-results li {
  margin: 5px 0;
}

.first {
  font-weight: bold;
  font-size: xx-large;
  color: #006400; /* dark green */
  text-shadow: #d8ffd8 0px 0px 3px;
}

.second {
  font-weight: bold;
  color: #228B22; /* medium green */
  font-size: x-large;
}

.third {
  font-weight: bold;
  color: #90EE90; /* light green */
  font-size: large;
}

.veto {
  color: red;
}