body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: sans-serif;
  margin: 20px;
  text-align: center;
}

h1, h3 {
  color: #ffffff;
}

select, input, button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #444;
  padding: 6px;
  margin: 4px;
  border-radius: 4px;
}

.option {
  margin-bottom: 10px;
}

.vote-results {
  list-style: none;
  padding-left: 0;
}

.vote-results li {
  margin: 5px 0;
}

.first {
  font-weight: bold;
  font-size: xx-large;
  color: #006400; /* dark green */
  text-shadow: #90EE90 0px 0px 10px;
}

.second {
  color: #228B22; /* medium green */
  font-size: larger;
}

.third {
  color: #90EE90; /* light green */
  font-size: medium;
}

.veto {
  color: red;
}